
<html>
  <div class="container-fluid bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/assets/bit.jpeg" width="90" height="90" class="rounded-circle"/>
    </a>
    <div class="float-right">
      <h1>TruYum</h1>
    </div>
  </div>
  <div class="container-fluid bg-danger">
    <button class="btn btn-primary" routerLink='app-register'>Register</button>&nbsp;
    <button class="btn btn-primary" routerLink='app-login'>Login</button>&nbsp;
    <button class="btn btn-primary" routerLink='app-cart'>Cart</button> &nbsp;
  </div>
<router-outlet></router-outlet>
</html>